<ion-content [fullscreen]="true">

  <ion-datetime [(ngModel)]="pickerDateTime" (ionChange)="onChangePicker($event)" #dateTimeField
    display-format=" hh:mm A DD.MMM" cancelText="Cerrar" doneText="Elegir"
    monthShortNames="Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dis" style="visibility: hidden;">
  </ion-datetime>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-fab>
    <ion-fab-button size="small" (click)="openDateTimePicker()">
      <ion-icon name="create-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="div-img-header">
    <!-- <img class="" src="/assets/imgs/moon.svg" alt=""> -->
  </div>


  <div class="ion-padding-horizontal">
    <div class="div-locale-date">
      <ion-text color="dark">
        <h1 class="fontOrbitronRegular" style="margin-bottom: 0.5vh;">
          {{ currentTime }}
        </h1>
        <p style="margin-top: 0;">
          {{ this.currentDate }} <ion-note>en {{ currentCountry }}</ion-note>
        </p>
      </ion-text>
    </div>
  </div>

  <div>
    <ion-item *ngFor="let country of savedCountries">
      <ion-avatar slot="start">
        <img [src]="country.flag" />
      </ion-avatar>
      <ion-label>
        <p>
          {{ country.name }}
        </p>
        <h2 class="fontOrbitronRegular">
          {{ country.time }}
        </h2>
      </ion-label>
      <ion-button color="dark" slot="end" expand="block" fill="clear" (click)="unSave(country)">
        <ion-icon slot="icon-only" name="bookmark"></ion-icon>
      </ion-button>
    </ion-item>
  </div>

  <ion-list-header class="ion-margin-top">
    <ion-searchbar [(ngModel)]="textForSearch" placeholder="Buscar país" (ionChange)="onSearch($event)">
    </ion-searchbar>
  </ion-list-header>

  <ion-list>

    <ng-container *ngFor="let country of countries">

      <ion-item *ngIf="!country.saved">
        <ion-avatar slot="start">
          <img [src]="country.flag" />
        </ion-avatar>
        <ion-label>
          <p>
            {{ country.name }}
          </p>
          <h2 class="fontOrbitronRegular">
            {{ country.time }}
          </h2>
        </ion-label>
        <ion-button color="dark" slot="end" expand="block" fill="clear" (click)="saveCountry(country)">
          <ion-icon slot="icon-only" name="bookmark-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ng-container>



    <ion-item *ngIf="countries.length < 1">
      <ion-label class="ion-text-center">¿En qué planeta queda ese país?</ion-label>
    </ion-item>

  </ion-list>




</ion-content>

<ion-footer>
  <ion-toolbar>
    <p class="ion-padding-left ion-text-center">
      <ion-note class="ion-text-wrap">
        {{ phrase }}
      </ion-note>
    </p>
  </ion-toolbar>
</ion-footer>