ion-fab {
  position: absolute;
  right: 5vw;
  top: 36vh;
}

ion-fab-button {
  --background: transparent;
  --background-activated: var(--ion-color-medium);
}

ion-toolbar {
  --padding-start: 16px;
}

.onWorking {
  position: absolute;
  right: 20vh;
}

.div-img-header {
  background: url("/assets/imgs/moon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vw;
}

.div-locale-date {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 37vh;
  h1 {
    font-size: 12vw;
  }
}
